<main class="page">

<div class="menuTableauDeBord">

  <div class="formations"> <a routerLink="/pageFormationsAdministrateur">Formations</a> </div>

    <div class="sessions"> <a routerLink="/PageSessionAdministrateur">Sessions</a></div> 


    <div class="participants"> <a routerLink="/PageParticipantAdministrateur">Participants</a></div>
    

    <div class="themes"> <a routerLink="">Thèmes</a></div>
    

    <div class="formateurs"> <a routerLink="">Formateurs</a></div>
    

    <div class="salles"> <a routerLink="">Salles</a></div>
    

    <div class="administrateurs"> <a routerLink="">Administrateurs</a></div>
    
</div>

</main> 
