.menuTableauDeBord{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;
    height: 500px;
    background: #8383a8;
    position: fixed;
    margin-top: 200px;
    
}

.menuTableauDeBord div {
    margin-left: 15px;
    text-align: justify;
    width: 250px;
    height: 45px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.menuTableauDeBord div:hover {
    margin-left: 0px;
    background-color: rgb(62, 62, 147, 0.5);
}
