.menuTableauDeBord{
    width: 250px;
    background: #faf0db;
    border: solid;
    border-block-color: rgb(255, 255, 0);
    border-left-color: rgb(255, 255, 0); 
    border-right-color: rgb(255, 255, 0);
    position: fixed;
    margin-top: 200px;
    margin-left: 200px;  
}
