<div class="reseauxsociaux"> 
    <!-- twitter -->
    <img src="https://th.bing.com/th/id/OIP.1nFvGnrJ53FAqIefnNCAWwHaHa?w=221&h=220&c=7&o=5&pid=1.7" 
        alt=""
        height="30"
        width="30">
    <!-- facebook -->
    <img src="https://th.bing.com/th/id/OIP.67erQrAo-zy3lbAatv9iHQHaHa?w=186&h=186&c=7&o=5&pid=1.7"
        alt=""
        height="30"
        width="30">
    <!-- reddit -->
    <img src="https://th.bing.com/th/id/OIP.IdiwHGTWAXRYuelSyXbeuAHaHa?w=180&h=180&c=7&o=5&pid=1.7"
        alt=""
        height="30"
        width="30">
    <!-- Instagramm -->
    <img src="https://th.bing.com/th/id/OIP.FeiwIhdK4TXLrzd8lVqm7wHaHa?w=189&h=189&c=7&o=5&pid=1.7"
        alt=""
        height="30"
        width="30">
    <!-- Snapchat -->
    <img src="https://th.bing.com/th/id/OIP.lT-53Ey-CkG-_robqmhoxgHaHa?w=190&h=190&c=7&o=5&pid=1.7"
        alt=""
        height="30"
        width="30">
</div>
Deuxième façon de faire
<div>
    <app-reseau-social 
        lienHypertexte="https://twitter.com/?lang=fr"
        lienImageReseauSocial="https://th.bing.com/th/id/OIP.1nFvGnrJ53FAqIefnNCAWwHaHa?w=221&h=220&c=7&o=5&pid=1.7"
        nomReseauSocial="Twitter"
    ></app-reseau-social>
</div>   