<main>
    <!-- <mat-slider min="1000" max="1000" step="100" value="100"></mat-slider> -->
    <div class="image-principale">
        <img src="assets/images/formation.png" alt="image de couverture" width="100%" height="600px" />
    </div>
    <article>
        <h1>Nos actualités</h1>
        <div class="actualites">
            <a href="#"><img src="assets/images/actu1.png" alt="image actu1" /></a>
            <a href="#"><img src="assets/images/actu2.png" alt="image actu2" /></a>
            <a href="#"><img src="assets/images/actu3.png" alt="image actu3" /></a>
     </div>
    </article>
    <div class="catalogues">
        <h1>Découvrez et téléchargez notre catalogue de formations</h1>
        <a href="#"><img src="assets/images/catalogue3.png" alt="dessin-catalogue" width="300px" height="300px"/></a>
    </div>
</main>
<app-page-administrateur-login></app-page-administrateur-login>
