.ajout-theme {
    text-align: center;
    margin-bottom: 50px;
}

article {
    margin-right: 200px;
    display: flex;
    justify-content: space-between;
} 

.affichage-liste-theme {
    margin-top: 200px;
    margin-right: 400px;
    margin-bottom: 100px;
}


.formumaire {
    margin-bottom: 30px;
    border-bottom: rgb(94, 94, 156) 5px solid;
}