.footer{
    background-color: rgb(94, 94, 156);
    position: fixed;
    bottom: 0px;
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}