<form #updateForm="ngForm" class="formulaireformation" [formGroup]="formationForm" (ngSubmit)="valider()" >
    <div class="pageAdmin" >
        <mat-form-field #bob appearance="fill" >
            <mat-label>Id</mat-label>
            <input matInput  type="number"  formControlName="id">
        </mat-form-field>
        <br>
        <mat-form-field #bob appearance="fill" >
            <mat-label>Nom</mat-label>
            <input matInput  type="text" formControlName="titre" #champTitre>
        </mat-form-field>
        <br>
        <mat-form-field id="champDescription" appearance="fill">
            <mat-label>Description</mat-label>
            <textarea cols="60" rows="10" matInput  type="text" formControlName="description" #champTitre></textarea>
        </mat-form-field>
        <br>
        <button mat-button mat-dialog-close type="submit">Valider</button>
        <button mat-button mat-dialog-close>Cancel</button>

    </div>
</form>