<!-- <p>page-formation-utilisateur works!</p> -->
<div class="conteneur-global">
    <app-liste-formation></app-liste-formation>
</div>
<!-- <app-card-formation></app-card-formation> -->
<!-- <div class="carteFormation" *ngFor="let formation of formations">
    <p>Nom : <span class="nom">{{formation.titre}}</span> </p>
    <p>Description : <span class="nom">{{formation.description}}</span></p>
    <button id ="bb" pButton type="button" label="Détails" class="p-button-rounded"  ></button>

</div> -->

