
<!-- <app-formulaire-formation (ajouterFormation)="ajouterFormation($event)"></app-formulaire-formation> -->

<!-- <app-formulaire-formation ></app-formulaire-formation>  -->
<!-- <app-liste-formation [formations]="formations"></app-liste-formation> -->
<!-- <app-liste-formation ></app-liste-formation> -->
<div>
    <p>ffffffffff</p>
    <!-- <p-editor [(ngModel)]="text" [style]="{'height':'320px'}"></p-editor> -->
    
    <!-- <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch> -->

    <!-- <p-editor  [(ngModel)]="text1" [style]="{'height':'300px'}"></p-editor> -->


<app-navbar></app-navbar> 
<app-card-formation></app-card-formation>
<router-outlet></router-outlet> 






