<!-- <app-formulaire-formation (ajouterFormation)="ajouterFormation($event)"></app-formulaire-formation> -->

<!-- <app-formulaire-formation ></app-formulaire-formation>  -->
<!-- <app-liste-formation [formations]="formations"></app-liste-formation> -->

<!-- <div> -->


    <!-- <p-editor [(ngModel)]="text" [style]="{'height':'320px'}"></p-editor> -->
    
    <!-- <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch> -->

    <!-- <p-editor  [(ngModel)]="text1" [style]="{'height':'300px'}"></p-editor> -->



<app-navbar></app-navbar> 
<app-liste-formation></app-liste-formation>
<!-- <app-page-formation-utilisateur></app-page-formation-utilisateur> -->

<!-- <app-card-formation></app-card-formation> -->

<!-- <span class="p-buttonset">
    <button pButton type="button" label="Save" icon="pi pi-check"></button>
    <button pButton type="button" label="Delete" icon="pi pi-trash"></button>
    <button pButton type="button" label="Cancel" icon="pi pi-times"></button>
</span> -->
<!-- <app-card-participant></app-card-participant>
<app-formulaire-participant></app-formulaire-participant>
<app-list-participant></app-list-participant> -->
<router-outlet></router-outlet> 
<app-participant></app-participant>