/* div{
    margin: 2px;
} */

.cardFormateur{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 2px;
    margin-top: 2px;
}

 .champ{
    display: flex;
    flex-direction: column;
    align-items: left;
    /* margin: 10px; */
    width: 33%;
}

.formateurIdentite + .formateurContact{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.bouton-material-supprimer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 30px;
    height: 30px;
}

.bouton-material-update{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 30px;
    height: 30px;
}

.mat-focus-indicator{
    padding: 0;
}

mat-card{
    width: 50%;
    height: 55px;
    border: blue solid 1px;
    margin-top: 2px;
}

.boutons{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
    justify-content: space-around;
}

.infos-texts{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}