<form [formGroup]="participantForm" (ngSubmit)="onSubmit()">
    <h1>Créer un participant</h1> 
    <div class="conteneur-formulaire-formateur">
        <!-- <label>
            Nom :
            <input type="text" formControlName="nom" />
        </label>
        <label>
            Prénom : 
            <input type="text" formControlName="prenom" />
        </label>
        <label>
            Date de naissance :
            <input type="text" formControlName="dateNaissance" />
        </label> -->

        <mat-form-field>
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Ex. Dujardin" formControlName="nom">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Prénom</mat-label>
            <input matInput placeholder="Ex. Jean" formControlName="prenom">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Date de naissance</mat-label>
            <input matInput placeholder="Ex. 25/12/2000" formControlName="dateNaissance">
        </mat-form-field>
    </div>
    <!-- <button type="submit">Valider</button> -->
    <button type="submit" class="bouton-material-valider-new-formateur" mat-button color="primary" aria-label="Example icon button with a delete icon" (onClick)="onSubmit()">
        <mat-icon>done</mat-icon >
            Valider
    </button>
</form>
