form {
    margin-top: 190px;
    margin-left: 600px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: -40px;
    border: rgb(94, 94, 156) 5px solid;
    width: 20%;
}