
<main>
    
    <article>
    <div class="tableau">
        <app-page-tableau-de-bord></app-page-tableau-de-bord>
    </div>
    <div class="affichage-liste-session">
        <div class="ajout-session">
            <a routerLink="/formulaireSession">
            <button mat-raised-button>Ajouter une nouvelle session</button> </a>
        </div>
    <div *ngFor="let session of listSession">
        <p>Session : {{session.id}}</p>
        <p>Date de début : {{session.dateDebut}}</p>
        <p>Date de fin : {{session.dateFin}}</p>
        <p>Prix hors taxe : {{session.prixHt}}</p> 
    

    <div class="formumaire">
        <!-- <mat-form-field appearance="fill">
            <mat-label>Date de début : </mat-label>
            <input matInput type="text" #valDateDebut>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Date de fin :</mat-label>
            <input matInput type="text" #valDateFin>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Prix hors taxes : </mat-label>
            <input matInput type="number" #valPrix>
        </mat-form-field> -->
        <div class="supprimer-mettre-a-jour">
            <button type="submit" mat-raised-button (click)="onDelete(session.id)">Supprimer la session</button> 
            <button type="submit" mat-raised-button (click)="openDialog()">Mettre à jour</button>
            <!-- <button type="submit" mat-raised-button (click)="onUpdate(session, valDateDebut.value, valDateFin.value, valPrix.value)">Mettre à jour la session</button> -->
        </div>
    </div>
</div>
</div>
</article>
</main>




