main {
    background-color: gray;
    color: white;
}

.ajout-session {
    text-align: center;
    margin-bottom: 50px;
}

article {
    display: flex;
    justify-content: space-around;
}

.tableau {
    margin-top: -150px;
    margin-right: 500px;
}

.affichage-liste-session {
    margin-right: 100px;
    margin-bottom: 30px;
}

.formumaire {
    margin-bottom: 30px;
}