*{
    padding: 0;
    margin: 0;
}


.menu-bar{
    background-color: rgb(94, 94, 156);
    text-align: center;
}

.menu-bar ul{
  display: inline-flex; 
  list-style: none; 
  color: #fff;

}

.menu-bar ul li {
    width: 200px;
    margin: 15px;
    padding: 15px;
    

}

.menu-bar ul li a{
   text-decoration: none;
   color: #fff;
    

}

.menu-bar ul li:hover {
    background: #6fa3df;
    border-radius: 3px ;

}

 .sub-menu1{
    display:none;
}

.menu-bar ul li:hover .sub-menu1{
    display: block;
    position: absolute;
    background: rgb(70, 70, 146);
    margin-top: 15px;
    margin-left: -15px;

} 

.menu-bar ul li:hover .sub-menu1 ul{
    display: block;
    margin: 10px;

}
.menu-bar ul li:hover .sub-menu1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu1 ul li:last-child{
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu1 ul li a:hover{
    /* pour changer la couleur des thèmes */
    color: #0deaf1;  
}









/* .navbar {
    display: flex;
    background-color: rgb(123, 131, 240);
    position:relative;
    width: 100%;
    height:10vh;
    top : 0px;
    
    
}

/* .nav-button {
    padding: 15px;
    
} */ 