<!-- <p>navbar works!</p> -->
<link rel="stylesheet" href="navbar.component.css">
<!-- <div class="nav-button">
    <a routerLink="/pageformationutilisateur">Page Formation Utilisateur</a><br/><br/> 
    <a routerLink="/pageFormationsAdministrateur"> Page Formation Administrateur</a><br/><br/>

</div>
<a routerLink="/pageFormationsAdministrateur"> Page Formation Administrateur</a><br/><br/> -->
<div class="menu-bar">
    <a href="#">AJOUTER UN FORMATEUR</a>
    <ul>
        <li class="active"> <a href="#">THEMES</a>
            <div class="sub-menu1">
                <ul>
                    <li><a href="#">JAVA</a></li>
                    <li><a href="#">HTML</a></li>
                    <li><a href="#">XML</a></li>  
                </ul>

            </div>
        </li>       
        <li><a routerLink="/pageformationutilisateur"> FORMATIONS</a>
            <div class="sub-menu1">
                <ul>
                    <li><a href="#">POEC JAVA</a></li>  
                    <li><a href="#">POEC .NET</a></li>
                    <li><a href="#">POEC PYTHON</a></li>  
                </ul>

            </div>
        </li>
        <li><a href="#"> SESSIONS A VENIR</a>
            <div class="sub-menu1">
                <ul>
                    <li><a href="#">SESSION1</a></li>
                    <li><a href="#">SESSION2</a></li>
                    <li><a href="#">SESSION3</a></li>  
                </ul>

            </div>
        </li>
        
    </ul>
    <a href="#">PROGRAMMER UNE SESSION</a>
</div>

