<p>navbar works!</p>
<div class="nav-button">
    <a routerLink="/pageformationutilisateur">Page Formation Utilisateur</a><br/><br/>
    <a routerLink="/pageFormationsAdministrateur"> Page Formation Administrateur</a><br/><br/>
    <!-- <a routerLink="listesFromationsUtilisateur">afficher liste formations</a> -->

    <!-- <button type="submit" (click)="afficherFormationsCoteUtilisateurs()" routerLink="listesFromationsUtilisateur">afficherFormationsCoteUtilisateur</button> -->
    <!-- <app-card-formation></app-card-formation>    -->

</div>
