.header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background: linear-gradient(rgb(179, 200, 218), white);
}

.logo {
    margin: 15px;
}

.apropos {
    margin: 35px;
    font-size: 1.4em;
    color: #0b0cac;
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:visited {
    color: #0b0cac;
}
a:hover {
    text-decoration: underline;
    color: #4383ab;
}

.connexion-admin {
    margin: 35px;
}