<div class="divDetailFormation">
<h3>Cursus Développeur Web Java</h3>
<p>Parce que les applications développées en Java sont très facilement portables sur différents 
    systèmes d’exploitation tels que Windows, Mac OS, UNIX ou encore Linux, ce langage orienté Objet qui 
    reprend en grande partie la syntaxe du C++ est toujours très prisé par les équipes de développement. 
    Ce cursus métier vise à faire découvrir aux participants comment bien programmer en Java, et à les rendre 
    autonomes pour développer des applications Web avec les EJB et les frameworks Spring, Hibernate et JSF.
     A l’issue de ce parcours de 14 jours, les participants disposeront des compétences nécessaires 
     prendre en charge des projets de développement d’applications web en Java.</p>
<h3>Objectifs de ce cursus métier Cursus Développeur Web Java</h3>
<p>
    Disposer des compétences nécessaires pour programmer en Java en toute autonomie
Être en mesure de manipuler les Frameworks les plus utilisés du langage tels que JUnit, log4J ou i18n
Comprendre comment manipuler des données à l'aide de JDBC
Maîtriser le développement de composants distribués à l’aide d’EJB ou Spring
Savoir tester, debugger et optimiser ses applications
Connaître les frameworks MVC JEE les plus populaires (Struts, JSF et Spring MVC) et apprendre à les utiliser 
pour concevoir des interfaces Web Savoir mettre en oeuvre une application web de bout en bout en JEE tout en respectant le patron d’architecture MVC
</p>

<h3>Public</h3>
<p>
    Toute personne souhaitant évoluer vers le développement d’applications web en Java
</p>

<h3>Pré-requis</h3>
<p>Connaissance en programmation et en développement d’applications
    Avoir suivi la formation "Conception et programmation Objet" (OB100) ou disposer de notions de 
    programmation orientée objet
</p>

<h3>Les plus de ce cursus métier Cursus Développeur Web Java</h3>
<p>Chaque participant établit son propre planning de formation. En fonction de la date de début choisie parmi
     celles proposées ci-dessous, 
    nos Conseillers Formation proposent différentes dates pour chacun des modules du cursus. Pour des raisons 
    d’efficacité pédagogique, il est fortement recommandé de suivre les modules dans l’ordre présenté sur ce programme.
    L’alternance de formations et de périodes de mise en pratique en entreprise favorise l’acquisition rapide 
    et durable de nouveaux savoirs.
    Animé par un expert spécialiste du sujet traité, chacun des 3 modules aborde un aspect spécifique de 
    la thématique de formation.
    A travers de nombreuses mises en situation, les participants mettront en pratique les aspects théoriques
     abordés au cours des différentes étapes du cursus.
</p>
<h3>Session</h3>
<p>
Dates des sessions<br/>
A distance<br/>
19/04/20215 290 € HT  <button>S'inscrire</button><br/>
21/06/20215 290 € HT  <button>S'inscrire</button><br/>
13/09/20215 290 € HT  <button>S'inscrire</button><br/>
15/11/20215 290 € HT   <button>S'inscrire</button><br/><br/>
</p>

</div>