<!-- <p>page-administrateur-login works!</p> -->

<div class="incriptionAdmin">
<div class="example-container">
  <h3> Se connecter à IT Trainning Admin</h3>
  <mat-form-field appearance="fill">
    <mat-label >Entrer Votre Identifiant</mat-label>
    <input  matInput [type]="hide ? 'password' : 'text'" #boxDescription>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    </button>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Entrer Votre Mot De Passe</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'"  #boxMotDePass>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    
  </mat-form-field>
  
  
    <br>
    <h4>{{messageErreur}}</h4>
    <br>
    <button class="buttonConnexion" type="submit" mat-raised-button (click)="connexion(boxMotDePass.value,boxDescription.value)">
      Se Connecter</button>
</div> 

</div>


<!-- <label>
    Identifiant:<input type="text" #boxId> <br>
</label>
<br/><br/>
  <label>Mot de passe:</label> <input type="text"#boxMdp>
<br/><br/>
<button  class="SupprimerParId" type="submit" (click)="connexion(boxId.value,boxMdp.value)" > Se connecté</button> 
<h4>{{messageErreur}}</h4> -->

<!-- <div class="contenu-global">
  <br><br>
  <label>
      Identifiant:<input type="text" #boxId> <br>
  </label>
  <br/><br/>
    <label>Mot de passe:</label> <input type="text"#boxMdp>
  <br/><br/>
  <button  class="SupprimerParId" type="submit" (click)="connexion(boxId.value,boxMdp.value)" > Se connecté</button> 
  <h4>{{messageErreur}}</h4>
</div> -->

