<form #updateForm="ngForm" class="formulaireparticipant" [formGroup]="participantForm" (ngSubmit)="valider()" >
    <div class="pageAdmin" >
        <mat-form-field #bob appearance="fill" >
            <mat-label>Id</mat-label>
            <input matInput  type="number"  formControlName="id">
        </mat-form-field>
        <br>
        <mat-form-field #bob appearance="fill" >
            <mat-label>Nom</mat-label>
            <input matInput  type="text" formControlName="nom" #champNom>
        </mat-form-field>
        <br>
        <mat-form-field #bob appearance="fill" >
            <mat-label>Prénom</mat-label>
            <input matInput  type="text" formControlName="prenom" #champPrenom>
        </mat-form-field>
        <br>
        <mat-form-field #bob appearance="fill" >
            <mat-label>Date de naissance</mat-label>
            <input matInput  type="text" formControlName="dateNaissance" #champDateNaissance>
        </mat-form-field>
        <br>
        <mat-form-field #bob appearance="fill" >
            <mat-label>Téléphone</mat-label>
            <input matInput  type="text" formControlName="telephone" #champTelephone>
        </mat-form-field>
        <br>
        <mat-form-field #bob appearance="fill" >
            <mat-label>Email</mat-label>
            <input matInput  type="text" formControlName="email" #champEmail>
        </mat-form-field>
        <br>
        <button mat-button mat-dialog-close type="submit">Valider</button>
        <button mat-button mat-dialog-close>Cancel</button>
    </div>
</form>
