<p>page-formation-administrateur works!</p>
<app-liste-formation></app-liste-formation>




<!-- <div>
    <button  class="boutonRecupererToutesLFormations" type="submit" (click)="recupererToutesFormations()" >Récuperer Toutes les Formations</button> 

</div> -->
<!-- <p-editor  [(ngModel)]="text1" [style]="{'height':'300px'}"></p-editor> -->

 <!-- <div class="carteFormation" *ngFor="let formation of formations">
    <p>Id : <span class="nom">{{formation.id}}</span></p>
    <p>Nom : <span class="nom">{{formation.titre}}</span></p>
    <p>Description : <span class="nom">{{formation.description}}</span></p>
    <button  class="SupprimerParId" type="submit" (click)="SupprimerParId(formation.id)" >Supprimer une formation par Id</button>
    <button  class="SupprimerParId" type="submit" > Mettre à jour une formation</button>
    <button  class="SupprimerParId" type="submit" > Chercher une formation par Id</button>
</div>    -->