


<div class="ajout-formation">
  <a routerLink="/pageFormulaireFormation">Ajouter une nouvelle Formation</a>
</div>
  <div class="groupementTableauBordPageFormationAdmin">

<main>
  
<app-page-tableau-de-bord></app-page-tableau-de-bord>

<div class="affichageListeFormations">
<div  *ngFor="let formation of formations">

    <p>Id : <span class="nom">{{formation.id}}</span></p>
    <p>Nom : <span class="nom">{{formation.titre}}</span></p>
    <p>Description : <span class="nom">{{formation.description}}</span></p>

    <div class="boutonSupprimerMettreAjour">

      <button  type="submit" mat-raised-button (click)="SupprimerParId(formation.id)">Supprimer</button>
      <button type="submit" mat-raised-button (click)="openDialog()">Mettre à jour</button>

    </div>

</div> 

</div>

</main>
