<p>formulaire-formation works!</p>

<form class="formulaireformation" [formGroup]="formationForm" (ngSubmit)="onSubmit()">

<label>
        Titre:<input type="text" formControlName="titre">
    </label>
    <label><br/><br/>
        <!-- Description:<input type="text" formControlName="description" class="inputDescription"> -->
        Description:<textarea cols="60" rows="10" ></textarea> 
    </label><br/><br/>
    <button class="buttonAjouterFormation" type="submit">Ajouter Formation</button>

</form>
