<div class="hearder-nav">
    <app-header></app-header>
    <app-navbar></app-navbar>
</div>
<main>
    <div class="presentation">
        <div class="qui-sommes-nous">
            <h1>Qui sommes-nous ?</h1>
            <img src="assets/images/qui-sommes-nous.png" alt="dessin-représentation" />
        </div>
        <div class="histoire-vision-mission">
            <div class="histoire">
            <h2>Notre histoire</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Mauris sed rutrum eros, eget semper ipsum. 
                Aliquam tincidunt rutrum ex imperdiet egestas. 
                Nulla a scelerisque dolor. Curabitur vitae ex ullamcorper, facilisis eros in, 
                volutpat est. Aliquam eu nisl tellus. Maecenas efficitur nisi sem, 
                quis eleifend mauris lacinia vitae. Morbi non finibus est, 
                vitae vulputate sem. Sed rhoncus maximus nulla vitae fermentum. 
                Mauris egestas dignissim neque, ac egestas ex varius sed. 
                Aenean aliquam turpis a orci semper interdum. 
                Sed gravida hendrerit felis eget lobortis. Vivamus quis semper elit. 
                Duis in est scelerisque, posuere tellus sit amet, mattis purus.
            </p>
        </div>
        <div class="vision">
            <h2>Notre vision</h2>
            <p>
                Ut vestibulum condimentum leo, vel vestibulum turpis sodales scelerisque. 
                Nullam purus neque, condimentum tempus mattis a, scelerisque et turpis. 
                Maecenas vestibulum mi in condimentum consectetur. Ut finibus odio nisl. 
                Maecenas eros ante, dapibus ut maximus eget, efficitur non turpis. 
                Vivamus sollicitudin finibus risus, ac molestie est malesuada in. 
                Praesent at orci id est euismod tincidunt. Suspendisse auctor mollis felis,
                 et fringilla ipsum ultricies in. Proin in est felis.
                  Phasellus porttitor at lorem at efficitur. Cras ac interdum turpis. 
                  Cras vel sollicitudin est. In aliquam tortor vitae nibh efficitur feugiat.
                 Proin posuere neque id est malesuada, ac condimentum nisi luctus.
            </p>
        </div>
        <div class="missions">
            <h2>Notre mission</h2>
            <p>
                Etiam aliquet tellus sit amet tellus sagittis accumsan. 
                Etiam elementum dolor a urna scelerisque porttitor.
                Nullam et feugiat sem. Morbi dictum, magna nec eleifend egestas, 
                nisl augue varius ligula, vel pretium ante dolor id nisl.
                Nunc pellentesque odio vel diam maximus gravida.
                Sed euismod cursus diam at gravida. 
                In faucibus justo quam, iaculis pulvinar felis tristique vel. 
                Fusce purus magna, vestibulum a leo semper, auctor gravida mi. 
                Etiam pulvinar eget erat sed elementum. Pellentesque tortor arcu,
                molestie a ex quis, semper dictum urna. Ut a dignissim lorem, 
                ut auctor metus. Cras sed ornare orci. Vestibulum eget imperdiet ante.
                Suspendisse vestibulum risus vitae rhoncus lobortis. 
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; 
                Duis auctor felis eget nisi fermentum, vitae hendrerit orci pulvinar.
            </p>
        </div>
    </div>
    <h2>Nos valeurs</h2>
        <div class="valeurs">
            <div class="engagement">
                <h3>Engagement</h3>
                <p>
                    Aenean scelerisque sapien non volutpat feugiat. 
                    Sed mattis, risus vel pharetra varius, 
                    risus libero euismod magna, at congue metus ipsum in ante.
                </p>
            </div>
            <div class="expertise">
                <h3>Expertise</h3>
                <p>
                    Suspendisse eu turpis condimentum, lacinia elit nec, posuere est. 
                    Sed vel urna facilisis metus facilisis condimentum. 
                    Sed interdum porttitor porta.
                </p>
            </div>
            <div class="excellence">
                <h3>Excellence pédagogique</h3>
                <p>
                    Fusce bibendum elementum felis, vel dapibus purus imperdiet vitae. 
                    Ut ut placerat nisi. 
                    Praesent leo metus, vestibulum ut ex in, vestibulum rhoncus arcu.
                </p>
            </div>
        </div>
        <div class="equipe">
            <h2>Notre équipe</h2>
            <img src="assets/images/equipe.png" alt="dessin-equipe" />
        </div>
    </div>
</main>
<app-footer></app-footer>